USE [cjwygl]
GO
/****** Object:  Table [dbo].[CJ_ADMIN]    Script Date: 05/14/2013 16:34:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CJ_ADMIN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[PASSWORD] [nvarchar](255) COLLATE Chinese_PRC_CS_AS NULL,
	[NICKNAME] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[ROLE_ID] [int] NOT NULL,
 CONSTRAINT [PK_CJ_ADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
