USE [cjwygl]
GO
/****** Object:  Table [dbo].[CONTRACT_INFO]    Script Date: 04/24/2013 17:18:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTRACT_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMP_NAME] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[CONTRACT_NO] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[RENT_AREA] [real] NULL,
	[CORP_REP] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[CONTACT] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[TELEPHONE] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[MOBILE] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[CAPITAL] [real] NULL,
	[PLACE] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[TAX_ID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[IC_ID] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ORG_CODE] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[CATEGORY] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[MAIN_BUZZ] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[TERMINATE] [bit] NULL CONSTRAINT [DF_CONTRACT_INFO_TERMINATE]  DEFAULT ((0)),
	[COMMENT] [nvarchar](255) COLLATE Chinese_PRC_CI_AS NULL,
	[MODIFY_COMMENT] [nvarchar](max) COLLATE Chinese_PRC_CI_AS NULL,
 CONSTRAINT [PK_CONTRACT_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
