USE [cjwygl]
GO
/****** Object:  Table [dbo].[FEE_INFO]    Script Date: 05/06/2013 16:15:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEE_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FEE_TYPE] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[FEE_CHARGE] [real] NULL,
	[LAST_END] [datetime] NULL,
	[NEXT_START] [datetime] NULL,
	[COMP_ID] [int] NULL,
	[COMMENT] [nvarchar](500) COLLATE Chinese_PRC_CI_AS NULL,
	[GEN_MONTH] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[ISPAID] [bit] NULL CONSTRAINT [DF_FEE_INFO_ISPAID]  DEFAULT ((0)),
 CONSTRAINT [PK_FEE_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
