USE [cjwygl]
GO
/****** Object:  Table [dbo].[PRED_CHARGE]    Script Date: 04/25/2013 09:37:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRED_CHARGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMP_ID] [int] NULL,
	[CHARGE_TYPE] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NULL,
	[SUM_MONTH] [real] NULL,
	[INTERVAL] [int] NULL,
 CONSTRAINT [PK_PRED_CHARGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
