USE [cjwygl]
GO
/****** Object:  Table [dbo].[SDM_BASE]    Script Date: 05/06/2013 10:06:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDM_BASE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SDM_TYPE] [nvarchar](50) COLLATE Chinese_PRC_CI_AS NOT NULL,
	[SDM_UNIT] [real] NOT NULL,
 CONSTRAINT [PK_SDM_BASE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
